/* .textlogo {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

.textlogo:hover {
    animation: slideInLeft 1s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} */